{{define "form"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Input Message</title>
    </head>
    <body>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="hidden"  name="auth" value="ioi" required />
            <br />

            <label>File :</label>
            <input type="file"  name="file" required />
            <br />

            <button type="submmit">Print</button>
        </form>
    </body>
</html>
{{end}}
